/* Box Model Hack */
* {
  box-sizing: border-box;
  /* border: black solid 2px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
width: 100%;
height: 100%;
margin: auto;

}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

span, p, i {
  font-size: 1.6rem;
}

button {
  border: solid #0070ba 1px; 
  border-radius: 3rem;
  color:#0070ba;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 320px;
  padding: 1.3rem 2.4rem;
}

header button {
  font-size: 1.2rem;
  padding: 1.1rem 1.8rem;
}
/******************************************
/* LAYOUT
/*******************************************/
header, footer, section {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  flex-direction: row;
  padding: 0.5%;
}

.top-section {
  color: white;
  background: url('../assets/top-section.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}
 
section {
  min-height: 500px;
  padding: 5%;
}
footer {
  padding: 1.5%;
}
footer span {
  font-size: 1.4rem;
}
 .footer-nav span, .footer-nav i {
  padding: 1rem;
  font-weight: 700;
}
.card {
  width: fit-content;
  height: auto;
}

.columns {
  column-count: 3;
  column-gap:2%;
}

.logo {
  width: 10rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* COLOURS */
.blue {
  background-color: #0070ba; 
  color: #ffffff;
}

.grey-backdrop {
  background-color: #f5f7fa;
}

.grey {
  color: gray; 
}

.blue-backdrop {
  background: rgb(0,154,220);
  background: radial-gradient(circle, rgba(0,154,220,1) 0%, rgba(0,68,151,1) 77%);
  color: #ffffff;
}

/* FONTS */
.bold {
  font-weight: 700;
}

/* smaller than 750px */
@media (max-width: 750px) {
  h2{
    font-size: 3rem;
  }

  .columns {
     column-count: 1;
  }

  .top-section{
    min-height: 400px;
  }

  .card {
    width: 25rem;
   
  }
  /* .top-section h2 {
  width: 100%;
} */
}